.nav {
    grid-area: n;
    background-color: silver;
    margin: 2px;
    font-weight: bold;
    
  }

  

  .item a {
      color: rgb(61, 47, 255);
      margin: 3px;
  }

  a.active {
      color: blueviolet;
  }
  