.nav {
    grid-area: n;
    background-color: lawngreen;
    margin: 2px;
    font-weight: bold;
    
  }

  

  .item {
      color: mediumvioletred;
      margin: 3px;
  }

  .active {
      /* color: gold; */
  }
  