.content {
    grid-area: c;
    background-color: green;
    margin: 1px;
    font-weight: 30px;
  }

  .item {
      color: mediumseagreen;
      margin: 3px;
  }

  .content img {
      width: 500px;
  }